.env
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.egg-info/

vendor/mintime/.git/
vendor/mintime/.venv-mintime/
vendor/mintime/weights/
vendor/mintime/examples/preds/
vendor/mintime/.pytest_cache/

.DS_Store
